<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add connectionString="Server=DESKTOP-HCTPIL6\SQLEXPRESS01;Initial Catalog=Bicycle_Empire;Integrated Security=True" 
         name="DefaultConnectionString" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>